h1 {
    font-size: 2em;
    padding: 0.5em;
}

table {
    width: 100%;
    border-collapse:collapse;
}

tr {
    font-size: 1.3em;
    height: 35px;
    border-bottom: 1px solid #eee;
}

tr.last {
    border-bottom: none;
}

td {
    padding: 0.5em 1.0em;
}

th {
    color: #999;
    padding: 0.5em 1.0em;
}
