h1 {
    font-size: 2.5em;
    padding: 0.5em;
}

body table {
    font-size: 125%;
}

table.dataTable {
    border-collapse: collapse;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}

table.dataTable thead tr:last-child, table.dataTable tbody tr:last-child {
    border-bottom: 1px solid black;
}

table.dataTable tbody tr {
    border-bottom: 1px solid #eee;
}
